@font-face{
    font-family: 'Tajawal';
    src: url('../fonts/tajawal/Tajawal-Black.ttf');
    src: url('../fonts/tajawal/Tajawal-Bold.ttf');
    src: url('../fonts/tajawal/Tajawal-ExtraBold.ttf');
    src: url('../fonts/tajawal/Tajawal-ExtraLight.ttf');
    src: url('../fonts/tajawal/Tajawal-Medium.ttf');
    src: url('../fonts/tajawal/Tajawal-Regular.ttf');
}


*{
    font-family: 'Tajawal', serif;
    --color:#00bfcf;
}
.bg-primary{
    background-color: #00bfcf;
  }
.ft{
    font-family: 'Tajawal', serif;
}

.ftb{
    font-family: 'Tajawal', serif;
    font-weight: 700;
}

.border-primary{
    /*background-color:   background-color: #00bfcf;;*/
    border: 1px solid   #00bfcf;
}
.from-purple-900 {
    --tw-gradient-from: #331b459c !important;
    /* --tw-gradient-from: #581c87 !important; */
    /* --tw-gradient-to: rgb(88 28 135 / 0) !important; */
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}
.bg-gradient-to-r {
    /* background-image: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops))) !important; */
    background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
}
.to-purple-800 {
    --tw-gradient-to: #03626a !important;
    /* --tw-gradient-to: var(--color) !important; */
    /* --tw-gradient-to: var(--color) !important; */
}

.font-medium{
    font-family: 'Tajawal';

}